<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    	<bean class="com.sp.Beans.Address" id="addr">
    		<property name="house_no" value="101"/>
    		<property name="city" value="Gadhinglaj"/>
    		<property name="pincode" value="416551"/>
    	</bean>
    	
		<bean class="com.sp.Beans.Student" id="std">
			<property name="Name" value="Sanket"/>
			<property name="Roll_No" value="26"/>
			<property name="address" ref="addr"/>
		</bean>
</beans>